.teste::before 
{
    content:'→';
    display: block;
}



.input
{
    border: 1px solid, black;
    display: block;

}

.input:disabled
{
    border-color: blue;
    display: block;
}




* {
    padding: 0;
    text-decoration: none;
}
.pai 
{
    width: 500px;
    height: 900px;
    background-image: url(./paisagem.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    margin: 50px;
}



